/* Server Manager */

.status_Available{
	color: #ff6868;
	text-align: center;
}

.status_Busy{
	color: #91ff93;
	text-align: center;
}

@keyframes spin {
	from {
	  transform: rotate(0);
	}
	to{
	  transform: rotate(359deg);
	}
}

.spinner-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	/* width: 12rem;
	height: 45px; */
	margin: 0 auto;
}

@keyframes pulse {
	from {
	  opacity: 1;
	  transform: scale(1);
	}
	to {
	  opacity: .25;
	  transform: scale(.75);
	}
  }


.pulse-container {
	width: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pulse-bubble {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #319CFF;
}
  
.pulse-bubble-1 {
	animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
	animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
	animation: pulse .4s ease .4s infinite alternate;
}

#server_manager_menu {
	display: flex;
	width: 900px;
	margin: 0 auto 35px auto;
	background: #333541;
	border-radius: 12px;
	justify-content: space-between;
	padding: 3px;
}

#server_manager_menu > label {
	width: 100%;
	line-height: 40px;
	text-align: center;
	border-radius: 12px;
	cursor: pointer;
	user-select: none;
}

#server-Tournament-toggler:checked ~ #server_manager_menu label[for="server-Tournament-toggler"],
#server-DangerZone-toggler:checked ~ #server_manager_menu label[for="server-DangerZone-toggler"],
#server-Duels-toggler:checked ~ #server_manager_menu label[for="server-Duels-toggler"],
#server-GunGame-toggler:checked ~ #server_manager_menu label[for="server-GunGame-toggler"],
#server-GameServers-toggler:checked ~ #server_manager_menu label[for="server-GameServers-toggler"] {
	background: linear-gradient(to right, #CC6813, #F69104), #3F3F3F;
	user-select: none;
}

#server-Tournament-toggler:checked ~ .manager-box.Tournament, #server-Tournament-toggler:checked ~ .manager-box.tournament_location,#server-DangerZone-toggler:checked ~ .manager-box.DangerZone, #server-Duels-toggler:checked ~ .manager-box.Duels, #server-GunGame-toggler:checked ~ .manager-box.GunGame , #server-GameServers-toggler:checked ~ .manager-box.GameServers, .manager-box.tournament_location {
    display: block;
	width: 70rem;
    margin: 0 auto;
}

#server-Tournament-toggler:checked ~ .manager-box.error_manager, #server-DangerZone-toggler:checked ~ .manager-box.error_manager, #server-GunGame-toggler:checked ~ .manager-box.error_manager, #server-GameServer-toggler:checked ~ .manager-box.error_manager, #server-Duels-toggler:checked ~ .manager-box.error_manager {
    display: block;
}

#servers_manage .manager-box {
    display: none;
}

.manager-box {
    display: none;
}

.manager-box{
	overflow: auto;
}

@media screen and (max-width: 1024px) {
	.manager_btn > div{
		width: 15rem !important;
	}

	#server_manager_menu{
		width: 830px;
		row-gap: 10px;
		border-radius: 500px;
	}
}

@media screen and (max-width: 1000px) {
	.manager_btn > div{
		width: 15rem !important;
	}

	#server_manager_menu{
		width: 42rem;
		font-size: 13px;
		row-gap: 10px;
		border-radius: 20px;
		margin-top: 50px;
	}

	.manager_btn{
		flex-wrap: wrap;
		row-gap: 15px;
		width: 100px;
		margin: 0 auto 15px;
		height: auto !important;
	}

	.tournament_location{
		width: 45rem !important;
	}

	
	#server-Tournament-toggler:checked ~ .manager-box.Tournament, #server-DangerZone-toggler:checked ~ .manager-box.DangerZone, #server-Duels-toggler:checked ~ .manager-box.Duels, #server-GunGame-toggler:checked ~ .manager-box.GunGame, #server-GameServers-toggler:checked ~ .manager-box.GameServers{
		width: 45rem;
	}
}

.manager_btn > div{
	width: 62px;
    padding: 10px 0 !important;
    margin-right: 13px !important;
}

.response_complete{
	color: #5aef73;
}

.response_info{
	color: #ebc246;
}

.response_warn{
	color: #ed5c52;
}

.one_tournament_server {
    font-size: 12px;
}

.tournament_location{
	padding: 10px 10px 0px 10px !important;
    background: #333541 !important;
    border-radius: 10px 10px 0 0 !important;
    margin: 15px auto 0 !important;
    text-align: left !important;
    border-bottom: 0 !important;
}

.tournament_location .location{
    background: linear-gradient(to left, #319CFF, #7D40FF), #3F3F3F;
    border-radius: 5px;
    padding: 5px 0px 5px 15px;
    font-size: 18px;
	user-select: none;
}

.manager_btn{
    height: 66px;
    align-items: center;
	justify-content: center;
}

.tournament_server_ip {
    padding: 10px !important;
}

.tournament_server_location{
	text-align: center;
}

.tournament_server_location img{
	width: 25px;
}
